<section class="devise group">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

   <div class="group"> <%= f.label :username %>
    <%= f.text_field :username, :autofocus => true %></div>

  <div class="group"> <%= f.label :email %>
    <%= f.email_field :email %></div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
     Currently waiting confirmation for: <%= resource.unconfirmed_email %>
    <% end %>

   <div class="group avatar"><%= f.label :avatar %>
    <%= f.file_field :avatar %></div>

  <div class="group"> <%= f.label :password %>
    <%= f.password_field :password, :autocomplete => "off" %>
    <br><small>(leave blank if you don't want to change it)</small></div>

  <div class="group"> <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %></div>

  <div class="group confirm"><%= f.label :current_password %>
    <%= f.password_field :current_password %>
    <br><small>(we need your current password to confirm your changes)</small>
    <%= f.submit "Update" %>
  </div>
  <% end %>

  <%= link_to "Back", :back %>
</section>