<section class="njt splash">

  <nav class="group">
  <%= image_tag "njtlogo.png", id: "njt"%>

    <ul class="group">
      <li><%= link_to "Rules", njt_rule_url(1) %></li>
      <li><%= link_to "Tutorial", "#" %></li>
      <li><%= link_to "Discussion", post_url(2) %></li>
      <li><%= link_to "Feedback", new_njt_feedback_url %></li>
    </ul>
  </nav>

  <nav class="group game">
    <%= button_to "Quick Play", {controller: "njt/games", action: "enqueue"} %>
    <%= button_to "New Game vs Friend", {controller: "njt/games", action: "create"}%>
    <%= button_to "New Game vs A.I.", {controller: "njt/games", action: "create", ai: true}%>
  </nav>
</section>