<section class="content blog">
  <header class="blog-name">
    <h2><a href="<%= blog_url %>">The Deev-elopment Blog</a></h2>
  </header>

  <section class="posts">
    <% @posts.each do |post| %>
      <article class="post">
        <header class="title">
          <h3 class="title">
            <a href="<%= post_url(post) %>"><%= post.title %></a>
          </h3>

        </header>

        <figure>
          <a href="<%= post_url(post) %>" class="main-img">
            <img src="<%= post.image_url %>">
          </a>
        </figure>

        <% ps = post.body.split("\n") %>

        <% ps.each_with_index do |p, i| %>
          <% if i == 2 %>
            <aside><a href="<%= post_url(post)%>">More...</a></aside>
          <% elsif i > 2 %>
            <% next %>
          <% else %>
            <p><%= p %></p>
          <% end %>
        <% end %>


        <br>
        <aside>posted by
          <em><%= post.author.username %></em> at
          <time><%= post.created_at.to_s(:long_ordinal)%></time>
        </aside>


        <%= link_to "Comments (#{post.comments.count})",
            "#{post_url(post)}#comments" %>

        <% if as_admin? %>
          <%= link_to "Edit this post", edit_post_url(post) %>
        <% end %>
      </article>

    <% end %>
  </section>

  <%= paginate @posts %>

  <% if as_admin? %>
    <%= link_to "Add new post", new_post_url %>
  <% end %>
</section>