<section class="content blog">
  <header>
    <h2>The Deev-elopment Blog</h2>
  </header>

  <section class="posts">
    <% @posts.reverse.each do |post| %>
      <article class="post">
        <header class="title">
          <a href="<%= post_url(post) %>" class="title">
            <h3><%= post.title %></h3>
          </a>
        </header>

        <figure>
          <a href="<%= post_url(post) %>" class="main-img">
            <img src="<%= post.image_url %>">
          </a>
        </figure>

        <p><%= post.body %></p>

        <br>
        <aside>posted by
          <em><%= post.author.username %></em> at
          <time><%= post.created_at%></time>
        </aside>


        <%= link_to "Comments", post_comments_url(post) %>
      </article>

      <% if current_user.admin %>
        <%= link_to "Edit this post", edit_post_url(post) %>
      <% end %>
    <% end %>
  </section>

  <% if current_user.admin %>
    <%= link_to "Add new post", new_post_url %>
  <% end %>
</section>