<section class="content blog">
  <header>
    <a href="<%= blog_url %>"><h2>The Deev-elopment Blog</h2></a>
  </header>

  <article class="post">

      <h3 class="title"><%= @post.title %></h3>


      <figure>
        <img src="<%= @post.image_url %>">
      </figure>

      <% ps = @post.body.split("\n") %>

      <% ps.each do |p| %>
        <p><%= p%></p>
      <% end %>

    <br>
    <aside>posted by
      <em><%= @post.author.username %></em> at
      <time><%= @post.created_at%></time>
    </aside>
  </article>

  <% if user_signed_in? && current_user.admin %>
    <%= link_to "Edit this post", edit_post_url(@post) %>
  <% end %>

  <section id="comments">
    <h4>Comments</h4>

    <form action="<%= @post %>" method="post">
      <input type="hidden" name="authenticity_token"
        value="<%=form_authenticity_token%>">
        <input type="hidden" name="comment[parent_id]" value="<%= nil %>">
      <label>New Comment
        <input type="text" placeholder="Comment here..." name="comment[body]">
      </label>
      <input type="submit" value="Submit">
    </form>


    <ul>
      <% @post.comments.each do |comment| %>
        <%= render partial: "comments/show", locals: { comment: comment } %>
      <% end %>
    </ul>
  </section>
</section>