<section class="content blog">
  <header class="blog-name">
    <h2><a href="<%= blog_url %>">The Deev-elopment Blog</a></h2>
  </header>

  <article class="post">

      <h3 class="title">
        <a href="<%= post_url(@post) %>"><%= @post.title %></a>
      </h3>


      <figure>
        <img src="<%= @post.image_url %>">
      </figure>

      <% ps = @post.body.split("\n") %>

      <% ps.each do |p| %>
        <p><%= p%></p>
      <% end %>

    <br>
    <aside>posted by
      <em><%= @post.author.username %></em> at
      <time><%= @post.created_at.to_s(:long_ordinal)%></time>
    </aside>
  </article>

  <% if as_admin? %>
    <%= link_to "Edit this post", edit_post_url(@post) %>
  <% end %>

  <section id="comments">
    <h4>Comments</h4>

    <% if user_signed_in? && !current_user.guest %>
      <form class="add-comment top" action="<%= post_comments_url(@post) %>" method="post">
        <input type="hidden" name="authenticity_token"
          value="<%=form_authenticity_token%>">
          <input type="hidden" name="comment[parent_id]" value="<%= nil %>">
        <label for="comment_body">Add new comment</label>
        <textarea id="comment_body" placeholder="Comment here..." name="comment[body]"></textarea>

        <input type="submit" value="Submit">
      </form>

    <% else %>

    <strong>You have to create an account to comment.</strong>

    <% end %>

    <ul>
      <% @comments.each do |comment| %>
        <% next if comment.parent_id %>
        <%= render partial: "comments/show", locals: { comment: comment } %>
      <% end %>
    </ul>

  </section>
</section>