<ul class="info '<%= color %>'">
  <li class="group">
    <div class="group"><img src="<%= avatarUrl %>"></div>
    <strong><%= username %></strong>
  </li>
  <li>
    <% if (hand.length == 1) { %>
      1 card
    <% } else { %>
      <%= hand.length + " cards" %>
    <% } %>
  </li>
  <li>
    <% if (tokens.length == 1) { %>
      1 token
    <% } else { %>
      <%= tokens.length + " tokens" %>
    <% } %>
  </li>

  <% if (playerColor == color) { %>
    <li><%= damage %> damage</li>
  <% } %>
</ul>