<section class="njt game content group">
  <section class="game-field">
    <header class="group">
      <div class="damage_token" data-fd="true"></div>
      <h3><%= @game.phase.split("_").map(&:capitalize).join(" ") %></h3>
      <button>Quit</button>
    </header>

    <section class="board group">
      <figure class="white damage">
        <ul class="white tokens">
          <% @white.damage_tokens.each do |token| %>
            <li class="damage_token"
              <% if @player == @white %>
                data-value="<%= token.value %>"
                data-fd="<%= token.fake %>"
              <% else %>
                data-fd="true"
              <% end %>
            ></li>
          <% end %>
        </ul>
        <ul class="white info">
          <li class="group">
            <div class="group"><%= image_tag @white.user.avatar.url(:thumb)%></div>
            <strong><%= @white.user.username %></strong>
          </li>
          <li><%= "#{@white.cards.count} cards" %></li>
          <li><%= "#{@white.damage_tokens.count} tokens"%></li>
        </ul>
      </figure>

      <figure class="board">
        <%#= image_tag 'fullboard.png'%>
        <ul class="spaces group">
          <li class="tank" id="white-1"></li>
          <li class="tank" id="white-2"></li>
          <li class="tank" id="white-3"></li>
          <li class="tank" id="black-3"></li>
          <li class="tank" id="black-2"></li>
          <li class="tank" id="black-1"></li>
        </ul>
      </figure>

      <figure class="black damage">
        <ul class="black tokens">
          <% @black.damage_tokens.each do |token| %>
            <li class="damage_token"
              <% if @player == @black %>
                data-value="<%= token.value %>"
                data-fd="<%= token.fake %>"
              <% else %>
                data-fd="true"
              <% end %>
            ></li>
          <% end %>
        </ul>

        <ul class="black info">
          <li><%= image_tag @black.user.avatar.url(:thumb) %>
            <strong><%= @black.user.username %></strong></li>
          <li><%= "#{@black.cards.count} cards" %></li>
          <li><%= "#{@black.damage_tokens.count} tokens"%></li>
        </ul>
      </figure>
    </section>


    <section class="main-cards group">
      <div class="deck card phased" data-fd="true"></div>

      <button class="undo">Undo</button>

      <figure class="active" id="active-1">
        <nav class="group">
          <button class="feint"></button>
          <button class="move"></button>
        </nav>
        <div class="play phased" id="play-1"></div>
      </figure>

      <figure class="active" id="active-2">
        <nav class="group">
          <button class="feint"></button>
          <button class="move"></button>
        </nav>
        <div class="play phased" id="play-2">
          <div class="warning"></div>
        </div>
      </figure>

      <figure class="confirm-warning">
        <button class="confirm">Confirm</button>
        <div class="warning"></div>
      </figure>

      <div
      <% if @discards %>
           class="discard card phased"
           data-info="<%="#{@discards.last.value}-#{@discards.last.dir}"%>"
           data-shot="<%= @discards.last.shot %>"
      <% else %>
           class="discard phased"
      <% end %>
      ></div>
    </section>

    <ul class="hand group">
      <% @player.cards.each do |card|%>
        <li class="card" data-info="<%= "#{card.value}-#{card.dir}" %>"
            data-shot="<%= card.shot %>">
        </li>
      <% end %>
    </ul>
  </section>

  <aside class="chat">
    <% @game.comments.each do |comment| %>
      <%= render "comments/show", locals: {comment: comment}%>
    <% end %>
  </aside>
</section>

<script>
var Game = (function(){
  var playerColor = "<%= @color %>";
  var damage = "<%= @player.damage %>";
  var tanks = [];

  <% [[@white, "white"], [@black, "black"]].each do |(player, color)| %>
    <% if player.tanks.count > 1 && @player != player %>

      <% player.tanks.each do |tank| %>
        tanks.push({
          space: "<%= "#{color}-#{tank.position}" %>",
          color: "<%= color %>",
          fake: "true"
        })
      <% end %>

    <% else %>

      <% player.tanks.each do |tank| %>
        tanks.push({
          space: "<%= "#{color}-#{tank.position}" %>",
          color: "<%= color %>",
          fake: "<%= tank.fake %>"
        })
      <% end %>

    <% end %>
  <% end %>

  var totalDamage = function(){
    $("." + playerColor + ".info").append("<li>" + damage + " damage</li>");
  };

  var tankDisplay = function(){
    tanks.forEach(function(tank){
      var $space = $("#" + tank.space)

      if (tank.color == "white"){
        $space.html("<img src=<%= asset_path("whitetank.png") %>>")
      } else {
        $space.html("<img src=<%= asset_path("blacktank.png") %>>")
      }

      if (tank.fake === "true") {
        $space.find("img").css("opacity", "0.5")
      }
    })
  };

  return {
    totalDamage: totalDamage,
    tankDisplay: tankDisplay
  };
})();

$(function(){
  Game.totalDamage();
  Game.tankDisplay();
})
</script>