<section class="njt game content group">
  <section class="game-field">
    <header class="group">
      <div class="stack damage_token" data-fd="true"></div>

      <figure class="white damage">
        <ul class="white tokens">
          <% @white.damage_tokens.each do |token| %>
            <li class="damage_token"
              <% if @player == @white %>
                data-value="<%= token.value %>"
                data-fd="<%= token.fake %>"
              <% else %>
                data-fd="true"
              <% end %>
            ></li>
          <% end %>
        </ul>
        <ul class="white info">
          <li class="group">
            <div class="group"><%= image_tag @white.user.avatar.url(:thumb)%></div>
            <strong><%= @white.user.username %></strong>
          </li>
          <li><%= "#{@white.cards.where(location: ["hand", "action","trashed"]).count} cards" %></li>
          <li><%= "#{@white.damage_tokens.count} tokens"%></li>
        </ul>
      </figure>

      <div class="phase">
        <h3
          <% if @player.ready %>
            class = "ready">Waiting
          <% else %>
            ><%= @game.phase.split("_").map(&:capitalize).join(" ") %>
          <% end %>
        </h3>
      </div>


      <figure class="black damage">
        <ul class="black tokens">
          <% @black.damage_tokens.each do |token| %>
            <li class="damage_token"
              <% if @player == @black %>
                data-value="<%= token.value %>"
                data-fd="<%= token.fake %>"
              <% else %>
                data-fd="true"
              <% end %>
            ></li>
          <% end %>
        </ul>

        <ul class="black info">
          <li><%= image_tag @black.user.avatar.url(:thumb) %>
            <strong><%= @black.user.username %></strong></li>
          <li><%= "#{@black.cards.where(location: ["hand", "action","trashed"]).count} cards" %></li>
          <li><%= "#{@black.damage_tokens.count} tokens"%></li>
        </ul>
      </figure>

      <%= button_to "Quit",
          njt_game_url(@game), method: :delete,
          data: { confirm: "Are you sure? You will lose the game." } %>
    </header>

    <section class="board group">
      <figure class="board">
        <%= image_tag 'fullboard.png'%>
        <ul class="spaces group">
          <li class="tank" id="white-1"></li>
          <li class="tank" id="white-2"></li>
          <li class="tank" id="white-3"></li>
          <li class="tank" id="black-3"></li>
          <li class="tank" id="black-2"></li>
          <li class="tank" id="black-1"></li>
        </ul>
      </figure>
    </section>


    <section class="main-cards group">

      <div class="deck">
      <% 4.times do %>
        <div class="card" data-fd="true"></div>
      <% end %>
      </div>

      <button class="undo flow" disabled="true">Undo</button>

      <figure class="active" id="active-1">
        <nav class="group hidden">
          <button class="feint not-chosen"></button>
          <button class="move chosen"></button>
        </nav>
        <div class="play" id="play-1"></div>
      </figure>

      <figure class="active" id="active-2">
        <nav class="group hidden">
          <button class="feint not-chosen"></button>
          <button class="move chosen"></button>
        </nav>
        <div class="play" id="play-2"></div>
      </figure>

      <figure class="confirm-warning">
        <button class="confirm flow" disabled="true">Confirm</button>
        <div class="warning hidden"></div>
      </figure>

      <div
      <% if @discards.count > 0 %>
           class="discard card"
           data-info="<%="#{@discards.last.value}-#{@discards.last.dir}"%>"
      <% else %>
           class="discard"
      <% end %>
      ></div>
    </section>

    <ul class="hand group slot">
      <% @player.cards.each do |card|%>
        <li class="card"
          data-info="<%= "#{card.value}-#{card.dir}" %>">
        </li>
      <% end %>
    </ul>

    <section class='game-over hidden'>
      <strong>
        <% if @game.result == "tie" %>
          <%= "A tie! Epic! Up for a rematch?"%>
        <% elsif ["white_victory", "black_victory"].include?(@game.result) %>
          <%= "#{@game.winner.username} has won over #{@game.loser.username}." +
              " Up for a rematch?" %>
        <% elsif @game.result == "quit" %>
          <%= "Looks like #{@game.loser.username} quit." %>
        <% else %>
          It's still anybody's game!
        <% end %>
      </strong>
      <% opponent_id = @player == @white ? @black.user_id : @white.user_id %>
      <button class="rematch">Rematch</button>
      <%= button_to "New Quick Play", {controller: "njt/games", action: "enqueue"}%>
    </section>
  </section>

  <aside>
    <h3>Chat</h3>
    <ul class="chat">
    <% @game.comments.each do |comment| %>
      <li>
        <strong><time><%= comment.created_at.strftime("%H:%M") %></time>
          <% if comment.author %>
            <%= "#{comment.author.username}:" %>
          <% end %>
        </strong>
        <p class="display"><%= comment.body %></p>
      </li>
    <% end %>
    <ul>
    <form class="add-comment top" action="<%= njt_game_comments_url(@game) %>" method="post">
      <input type="hidden" name="authenticity_token"
        value="<%=form_authenticity_token%>">
        <input type="hidden" name="comment[parent_id]" value="<%= nil %>">
      <label for="comment_body">Chat</label>
      <textarea id="comment_body" name="comment[body]"></textarea>

      <input type="submit" value="Enter">
    </form>

  </aside>
</section>

<script>
var Display = (function(){
  var damage = "<%= @player.damage %>";
  var tanks = [];

  <% [[@white, "white"], [@black, "black"]].each do |(player, color)| %>
    <% if player.tanks.count > 1 && @player != player %>

      <% player.tanks.each do |tank| %>
        tanks.push({
          space: "<%= "#{color}-#{tank.position}" %>",
          color: "<%= color %>",
          fake: "true"
        })
      <% end %>

    <% else %>

      <% player.tanks.each do |tank| %>
        tanks.push({
          space: "<%= "#{color}-#{tank.position}" %>",
          color: "<%= color %>",
          fake: "<%= tank.fake %>"
        })
      <% end %>

    <% end %>
  <% end %>

  var totalDamage = function(){
    if (damage > 0){
      $("." + playerColor + ".info").append("<li>" + damage + " damage</li>");
    }
  };

  var tankDisplay = function(){
    tanks.forEach(function(tank){
      var $space = $("#" + tank.space)

      if (tank.color == "white"){
        $space.html("<img src=<%= asset_path("whitetank.png") %>>")
      } else {
        $space.html("<img src=<%= asset_path("blacktank.png") %>>")
      }

      if (tank.fake === "true") {
        $space.find("img").css("opacity", "0.5")
      }
    })
  };

  var setScroll = function(){
    $(".chat").scrollTop($(".chat")[0].scrollHeight);
  }
  var display = function(){
    totalDamage();
    tankDisplay();
    setScroll();
  };

  return {
    display: display,
  };
})();

$(function(){
  window.gameUrl = "<%= njt_game_url(@game) %>";
  window.playerColor = "<%= @color %>";
  Display.display();
  Game.init("<%= @game.phase %>");
})
</script>