<section class="njt game content group">
  <section class="game-field">
    <header class="group">
      <figure class="white player-box">
        <ul class="info"></ul>
        <ul class="tokens"></ul>
      </figure>
      <div class="phase"></div>
      <figure class="black player-box">
        <ul class="info"></ul>
        <ul class="tokens"></ul>
      </figure>

      <%= button_to "Quit", njt_game_url(@game), method: :delete,
          data: { confirm: "Are you sure? You will lose the game." } %>
    </header>

    <section class="board group">
      <figure class="board">
        <%= image_tag 'fullboard.png'%>
        <ul class="spaces group"></ul>
      </figure>
    </section>

    <section class="main-cards group">

      <div class="deck"></div>

      <button class="undo flow" disabled="true">Undo</button>

      <figure class="active" id="active-1">
        <nav class="group hidden">
          <button class="feint not-chosen"></button>
          <button class="move chosen"></button>
        </nav>
        <div class="play" id="play-1"></div>
      </figure>

      <strong class="moved-count"></strong>
      <section class='game-over gone'>
        <strong></strong>
        <nav class="group">
          <button class="rematch gone">Rematch</button>
          <%= button_to "New Quick Play", {controller: "njt/games", action: "enqueue"}%>
        </nav>
      </section>

      <figure class="active" id="active-2">
        <nav class="group hidden">
          <button class="feint not-chosen"></button>
          <button class="move chosen"></button>
        </nav>
        <div class="play" id="play-2"></div>
      </figure>

      <figure class="confirm-warning">
        <button class="confirm flow" disabled="true">Confirm</button>
        <div class="warning hidden"></div>
      </figure>

      <div class="discard"></div>
    </section>

    <ul class="hand group slot <%= 'black' if @color == "black"%>"></ul>
  </section>

  <aside>
    <h3>Chat</h3>
    <ul class="chat"></ul>
    <form class="add-comment top group" action="<%= njt_game_comments_url(@game) %>" method="post">
      <input type="hidden" name="authenticity_token"
        value="<%=form_authenticity_token%>">
        <input type="hidden" name="comment[parent_id]" value="<%= nil %>">
      <label for="comment_body">Chat</label>
      <textarea id="comment_body" name="comment[body]"></textarea>

      <input type="submit" value="Enter">
    </form>

  </aside>
</section>

<script type="application/json" id="bootstrapped_game_json">
  <%= GameSerializer.new(@game).to_json.html_safe %>
</script>

<script>
$(function(){
  window.gameUrl = "<%= njt_game_url(@game) %>";
  window.playerColor = "<%= @color %>";
  window.whiteTankSrc = "<%= asset_path("whitetank.png") %>";
  window.blackTankSrc = "<%= asset_path("blacktank.png") %>";
  var gameData = JSON.parse($("#bootstrapped_game_json").html());

  Game.init(gameData.game);
});
</script>