<section class="content anon">
  <h2>Anonymous Feedback</h2>
  <aside>the <em>best</em> kind of feedback!</aside>

  <p>
    Thanks for wanting to help me improve!
    Any constructive criticism you have
    for my site or my games would be greatly appreciated.
  </p>

  <small>Your feedback is anonymous, and will never be published</small>

  <form action="<%= feedback_index_url %>" method="post">
    <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <label>Topic:
      <select name="feedback[topic]">
        <option value="Site Design"
          <%= "selected" if @feedback.topic == "Site Design" %>>
          Site Design</option>
        <option value="Ninja Tanks"
          <%= "selected" if @feedback.topic == "Ninja Tanks" %>>
          Ninja Tanks</option>
        <option value="Other"
          <%= "selected" if @feedback.topic == "Other" %>>
          Other</option>
      </select>
    </label>

    <textarea name="feedback[body]"><%= @feedback.body %></textarea>

    <input type="submit" value="Honor me with your feedback">
  </form>

  <aside>
    (You can also leave anonymous feedback for me at
      <a href="http://sayat.me/deevgames">sayat.me/deevgames</a>
    )
  </aside>
</section>