<section class="content anon">
  <h2>Anonymous Feedback</h2>
  <small>(the <em>best</em> kind of feedback!)</small>

  <p>
    Thanks for wanting to help me improve!<br>
    Any constructive criticism you have<br>
    for the site or any of my games<br>
    would be greatly appreciated.
  </p>

  <form class="group" action="<%= feedback_index_url %>" method="post">
    <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <label>Topic:
      <select name="feedback[topic]">
        <option value="Site Design"
          <%= "selected" if @feedback.topic == "Site Design" %>>
          Site Design</option>
        <option value="Ninja Tanks"
          <%= "selected" if @feedback.topic == "Ninja Tanks" %>>
          Ninja Tanks</option>
        <option value="Other"
          <%= "selected" if @feedback.topic == "Other" %>>
          Other</option>
      </select>
    </label>

    <textarea name="feedback[body]"><%= @feedback.body %></textarea>

    <small>
      Your feedback is anonymous, and will never be published.
    </small>

    <input type="submit" value="Honor me with your feedback">
  </form>


  <small>
    (you can also leave anonymous feedback for me at
    <a href="http://sayat.me/deevgames">sayat.me/deevgames</a>)
  </small>
</section>