<header class="layout">
  <div class="top-line group">
    <% if user_signed_in? %>
    <div class="logged-in group">
      <span><small>signed in as</small> <strong><%= current_user.username %></strong></span>

      <form class="log-out" action="<%= destroy_user_session_url %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token"
          value="<%=form_authenticity_token%>">

        <input class="button log-out" type="submit" value="LOG OUT">
      </form>
    </div>

    <% else %>
      <form class="log-in group" action="<%= user_session_url %>" method="post">
        <input type="hidden" name="authenticity_token"
          value="<%=form_authenticity_token%>">

        <div class="username-box">
          <label>Email or Username
            <input type="text" name="user[login]">
          </label>

          <br>
          <input name="user[remember_me]" type="hidden" value="0">
          <label class="remember-me">
            <input name="user[remember_me]" type="checkbox" value="1">Remember me
          </label>
        </div>
        <div class="password-box">
          <label>Password
            <input type="password" name="user[password]">
          </label>

          <br>

          <%= link_to "Forgot your password?", new_user_password_url %>
        </div>

        <input class="button log-in" type="submit" value="LOG IN">
      </form>
    <% end %>
  </div>

  <div class="second-line group">
    <h1>Deev Games</h1>

    <nav>
      <ul class="group">
        <li><a href="<%= blog_url %>">Blog</a></li>
        <li><a href="<%= njt_lobby_url %>">Ninja Tanks</a></li>
        <li><a href="<%= hex_lobby_url %>">Hex Strike <small>coming soon...</small></a></li>
        <li><a href="<%= blnd_lobby_url %>">Blind Loyalty <small>coming soon...</small></a></li>
      </ul>
    </nav>
  </div>

</header>